<header class="header--main-page">
    <nav class="container container--70">
        <ul class="nav--actions">
            <th:block th:if="${not #authorization.expression('isAuthenticated()')}">
                <li><a th:href="@{/login}" class="btn btn--small btn--without-border">Zaloguj</a></li>
                <li><a th:href="@{/register}" class="btn btn--small btn--highlighted">Załóż konto</a></li>
            </th:block>
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <li>Hello, <span th:text="${#authentication.principal.user.name}"></span></li>
                <li><form th:action="@{/logout}" method="post" class="btn btn--small btn--without-border">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button type="submit">Wyloguj</button>
                </form>
                </li>
            </th:block>
        </ul>

        <ul>
            <li><a th:href="@{#}" class="btn btn--without-border active">Start</a></li>
            <li><a th:href="@{#}" class="btn btn--without-border">O co chodzi?</a></li>
            <li><a th:href="@{#}" class="btn btn--without-border">O nas</a></li>
            <li><a th:href="@{#}" class="btn btn--without-border">Fundacje i organizacje</a></li>
            <li><a th:href="@{#}" class="btn btn--without-border">Kontakt</a></li>
        </ul>
    </nav>

    <div class="slogan container container--90">
        <div class="slogan--item">
            <h1>
                Zacznij pomagać!<br/>
                Oddaj niechciane rzeczy w zaufane ręce
            </h1>
        </div>
    </div>
</header>