<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Zmiana hasła</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header th:replace="views/fragments/header :: header"></header>

<section class="login-page">
  <h2>Zmień hasło</h2>
  <form th:action="@{/password}" method="post">
    <div class="form-group">
      <input type="password" name="newPassword" placeholder="New password" />
    </div>
    <div class="form-group">
      <input type="password" name="repeatedPassword" placeholder="Repeat Password" />
    </div>
    <input type="hidden" name="email" th:value="${email}">
    <input type="hidden" name="token" th:value="${token}">
    <div class="form-group form-group--buttons">
      <button class="btn" type="submit">Zmień hasło</button>
    </div>
  </form>
</section>

<footer th:replace="views/fragments/footer :: footer"></footer>
</body>
</html>
