<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Przypominanie hasła</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header th:replace="views/fragments/header :: header"></header>

<section class="login-page">
  <h2>Przypomnij hasło</h2>
  <form th:action="@{/forgetPassword}" method="post">
    <div class="form-group">
      <input type="email" name="email" placeholder="Email" />
    </div>

    <div class="form-group form-group--buttons">
      <button class="btn" type="submit">Przypomnij hasło</button>
    </div>
  </form>
</section>

<footer th:replace="views/fragments/footer :: footer"></footer>
</body>
</html>
